<div class="input-group input-group-lg my-4 pb-4 col-8 offset-2">
    <!-- Search icon -->
    <div class="input-group-prepend">
        <span class="input-group-text">
            <fa-icon [icon]="['fab', faClass]" size="md"></fa-icon>
        </span>
    </div>
    <!-- Search bar -->
    <input type="text" autofocus class="form-control" (change)="updateSearchHref($event.target.value)" placeholder="Search" />
    <!-- Search action button -->
    <div class="input-group-append">
        <a class="btn btn-secondary" target="_blank" [href]="searchHref">
            <fa-icon [icon]="['fas', 'search']" size="md"></fa-icon>
        </a>
    </div>
</div>