<div class="jumbotron jumbotron-fluid py-0 mx-0 px-0">
    <div class="container text-center">
        <!-- Title -->
        <h1 class="display-3">At Home</h1>
        <!-- Subtitle -->
        <p class="lead">Away From All The Shit!</p>
        <p class="lead">
            (A clean and personalized homepage for everyone!)
        </p>
        <!-- Divider -->
        <div class="divider col-8 offset-2"></div>
        <!-- Search bar -->
        <app-searchbar></app-searchbar>
    </div>
</div>