<div class="container">
    <div class="columns">
        <!-- Quick Links heading -->
        <div class="col-6" style="display:inline-block">
            <h3>Quick Links</h3>
        </div>
        <!-- Quick Link Actions -->
        <div class="col-6" style="display:inline-block">
            <app-ql-actions></app-ql-actions>
        </div>
    </div>
    <div class="row my-3">
        <!-- Card row -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pointer" *ngFor="let item of quickLinksList">
            <!-- Card item -->
            <app-quick-link-row [title]="item.title" [descr]="item.descr"></app-quick-link-row>
        </div>
        <!-- No items found -->
        <div class="ml-4" *ngIf="quickLinksList.length === 0">
            <p>No records found</p>
        </div>
    </div>
</div>